# Virtual Environment
.venv/
venv/
env/
ENV/
.env
backup/
.vscode/
# Database files
market_data.db
market_data.db-shm
market_data.db-wal
wcmkt.db-shm
wcmkt.db-wal
market.db
# Allow sde.db but ignore its associated files
sde.db-shm
sde.db-wal
# Allow build_cost.db but ignore its associated files
build_cost.db-shm
build_cost.db-wal
# Python
__pycache__/
images/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Local files
dialect.py

# Streamlit secrets
.streamlit/
# Streamlit secrets
.streamlit/secrets.toml
*.log
CLAUDE.md
experimental.py
dd.py
*.xlsx
*.sh
*.ps1
notes.txt
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
.env2
misc_functions.py
tests/
misc_files/
fit_summary_df.csv
fit_summary.csv
data/
